* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: calc(100% - 100px);
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid gold;
}

.post-enter {
    transform: translateX(-300px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-300px);
    transition: all 500ms ease-in;
}

.page-wrapper {
    margin: 10px;
    display: flex;
}

.page-button {
    padding: 5px;
    margin: 1px;
    color: burlywood;
    font-size: 14px;
    background: transparent;
    border: 1px solid burlywood;
    cursor: pointer;
}

.page-current {
    border: 2px solid saddlebrown;
}